Repository htm-community/htm.core, pull requests merged in 2019-04, with the labels that each got.

#344 ConnectionsPerformanceTest: cleanup the testcase
  src/nupic/algorithms/Anomaly.cpp
  src/nupic/algorithms/Anomaly.hpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/types/Sdr.cpp
  src/test/unit/algorithms/AnomalyTest.cpp
  src/test/unit/algorithms/ConnectionsPerformanceTest.cpp
Labels: ready

#362 Connections: Remove unused method & arguments
  API_CHANGELOG.md
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/test/unit/algorithms/ConnectionsTest.cpp
Labels: API_BREAKING_CHANGE, code

#358 Cereal infrastructure
  README.md
  external/CMakeLists.txt
  external/bootstrap.cmake
  external/cereal.cmake
  external/licenses/LICENSE.cereal.txt
  src/nupic/ntypes/Dimensions.hpp
  src/nupic/types/Serializable.hpp
  src/nupic/utils/Random.hpp
  src/test/unit/ntypes/DimensionsTest.cpp
Labels: ready, serializable

#363 fix pragma workarounds for Cereal on Ubuntu gcc 7.3
  src/nupic/types/Serializable.hpp
Labels: bug, serializable

#366 Binary releases for Linux
  .travis.yml
  ci/travis/before_deploy.sh
Labels: ready, tooling

#365 Cereal and SDR
  src/nupic/types/Sdr.hpp
  src/test/unit/algorithms/ConnectionsPerformanceTest.cpp
  src/test/unit/types/SdrTest.cpp
Labels: ready, serializable

#364 distribution framework.
  bindings/py/cpp_src/CMakeLists.txt
  py/src/nupic/README.md
  py/src/nupic/__init__.py
  py/src/nupic/examples/README.md
  py/src/nupic/examples/__init__.py
  py/src/nupic/test/README.md
  py/src/nupic/test/__init__.py
  src/test/unit/algorithms/ConnectionsPerformanceTest.cpp
Labels: python

#331 Connections better use typedefed types Segment, Synapse, ...
  bindings/py/cpp_src/bindings/algorithms/py_HTM.cpp
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/SpatialPooler.hpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/regions/TMRegion.cpp
  src/nupic/types/Sdr.hpp
  src/nupic/types/SdrTools.cpp
  src/nupic/utils/VectorHelpers.hpp
  src/test/unit/algorithms/ConnectionsTest.cpp
  src/test/unit/algorithms/SpatialPoolerTest.cpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/utils/VectorHelpersTest.cpp
Labels: code, ready

#377 Rename Temporal Memory Bindings file
  bindings/py/cpp_src/CMakeLists.txt
  bindings/py/cpp_src/bindings/algorithms/algorithm_module.cpp
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
Labels: Python Binding, code, ready

#372 Cereal for Array, ArrayBase
  src/nupic/engine/Link.cpp
  src/nupic/ntypes/Array.hpp
  src/nupic/ntypes/ArrayBase.cpp
  src/nupic/ntypes/ArrayBase.hpp
  src/nupic/regions/VectorFileEffector.cpp
  src/nupic/utils/Random.hpp
  src/nupic/utils/StringUtils.cpp
  src/test/unit/engine/InputTest.cpp
  src/test/unit/ntypes/ArrayTest.cpp
  src/test/unit/regions/TMRegionTest.cpp
Labels: serializable

#375 Move Intersection from stand-alone class to SDR method.
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
  src/nupic/algorithms/Anomaly.cpp
  src/nupic/algorithms/Anomaly.hpp
  src/nupic/types/Sdr.cpp
  src/nupic/types/Sdr.hpp
  src/nupic/types/SdrTools.cpp
  src/nupic/types/SdrTools.hpp
  src/test/unit/types/SdrTest.cpp
  src/test/unit/types/SdrToolsTest.cpp
Labels: code, ready, sdr

#374 New method ActivationFrequency::initializeToValue
  bindings/py/cpp_src/bindings/sdr/py_SDR_Metrics.cpp
  bindings/py/tests/sdr/Metrics_test.py
  src/nupic/types/Sdr.cpp
  src/nupic/types/Sdr.hpp
  src/nupic/utils/SdrMetrics.cpp
  src/nupic/utils/SdrMetrics.hpp
Labels: feature, tooling

#353 Grid Cell Encoder
  bindings/py/packaging/requirements.txt
  bindings/py/packaging/setup.py
  py/src/nupic/encoders/__init__.py
  py/src/nupic/encoders/grid_cell_encoder.py
  py/src/nupic/examples/rf_view_ScalarEncoder.py
  py/src/nupic/external/__init__.py
  py/src/nupic/tests/encoders/grid_cell_test.py
Labels: community, encoder, help wanted, research

#384 BasicType moved to ntypes
  bindings/py/cpp_src/bindings/math/py_reals.cpp
  bindings/py/cpp_src/plugin/PyBindRegion.cpp
  src/CMakeLists.txt
  src/nupic/engine/Input.cpp
  src/nupic/engine/Link.cpp
  src/nupic/engine/Network.cpp
  src/nupic/engine/Output.cpp
  src/nupic/engine/Region.cpp
  src/nupic/engine/RegionImpl.cpp
  src/nupic/engine/Spec.cpp
  src/nupic/engine/Watcher.cpp
  src/nupic/engine/YAMLUtils.cpp
  src/nupic/ntypes/Array.hpp
  src/nupic/ntypes/ArrayBase.cpp
  src/nupic/ntypes/ArrayBase.hpp
  src/nupic/ntypes/BasicType.cpp
  src/nupic/ntypes/BasicType.hpp
  src/nupic/ntypes/Value.hpp
  src/test/CMakeLists.txt
  src/test/unit/ntypes/ArrayTest.cpp
  src/test/unit/ntypes/BasicTypeTest.cpp
Labels: code, ready

#376 Remove Class SDRClassifierResult
  bindings/py/cpp_src/bindings/algorithms/py_SDRClassifier.cpp
  src/CMakeLists.txt
  src/examples/mnist/MNIST_SP.cpp
  src/nupic/algorithms/SDRClassifier.cpp
  src/nupic/algorithms/SDRClassifier.hpp
  src/nupic/types/ClassifierResult.cpp
  src/nupic/types/ClassifierResult.hpp
  src/test/unit/algorithms/SDRClassifierTest.cpp
Labels: code, ready

#379 C++ casts instead of C-style
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/ntypes/BasicType.cpp
  src/nupic/ntypes/Dimensions.hpp
  src/nupic/regions/TestNode.cpp
  src/nupic/utils/Random.cpp
  src/nupic/utils/Random.hpp
  src/nupic/utils/StringUtils.cpp
  src/test/unit/ntypes/ArrayTest.cpp
  src/test/unit/utils/SdrMetricsTest.cpp
Labels: code, help wanted, low

#356 Removes old TemporalPooler, TP, Cells4, BacktrackingTM
  API_CHANGELOG.md
  bindings/py/cpp_src/CMakeLists.txt
  bindings/py/cpp_src/bindings/algorithms/algorithm_module.cpp
  bindings/py/cpp_src/bindings/algorithms/py_Cells4.cpp
  bindings/py/tests/algorithms/cells4_test.py
  src/CMakeLists.txt
  src/examples/hotgym/HelloSPTP.cpp
  src/examples/hotgym/HelloSPTP.hpp
  src/nupic/algorithms/BacktrackingTM.cpp
  src/nupic/algorithms/BacktrackingTM.hpp
  src/nupic/algorithms/Cell.cpp
  src/nupic/algorithms/Cell.hpp
  src/nupic/algorithms/Cells4.cpp
  src/nupic/algorithms/Cells4.hpp
  src/nupic/algorithms/InSynapse.cpp
  src/nupic/algorithms/InSynapse.hpp
  src/nupic/algorithms/OutSynapse.cpp
  src/nupic/algorithms/OutSynapse.hpp
  src/nupic/algorithms/Segment.cpp
  src/nupic/algorithms/Segment.hpp
  src/nupic/algorithms/SegmentUpdate.cpp
  src/nupic/algorithms/SegmentUpdate.hpp
  src/nupic/engine/RegionImplFactory.cpp
  src/nupic/regions/BacktrackingTMRegion.cpp
  src/nupic/regions/BacktrackingTMRegion.hpp
  src/test/CMakeLists.txt
  src/test/unit/algorithms/BacktrackingTMTest.cpp
  src/test/unit/algorithms/Cells4Test.cpp
  src/test/unit/algorithms/SegmentTest.cpp
  src/test/unit/regions/BacktrackingTMRegionTest.cpp
Labels: API_BREAKING_CHANGE, code

#393 CI: run make package for binary release
  .travis.yml
  VERSION
  src/CMakeLists.txt
Labels: release

#394 New method SDR::concatenate
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
  src/nupic/types/Sdr.cpp
  src/nupic/types/Sdr.hpp
  src/nupic/types/SdrTools.cpp
  src/nupic/types/SdrTools.hpp
  src/test/unit/types/SdrTest.cpp
  src/test/unit/types/SdrToolsTest.cpp
Labels: enhancement, sdr

#398 Move SDR Reshape
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
  src/CMakeLists.txt
  src/nupic/algorithms/Anomaly.cpp
  src/nupic/types/Sdr.cpp
  src/nupic/types/Sdr.hpp
  src/nupic/types/SdrTools.cpp
  src/nupic/types/SdrTools.hpp
  src/test/CMakeLists.txt
  src/test/unit/types/SdrTest.cpp
  src/test/unit/types/SdrToolsTest.cpp
  src/test/unit/utils/SdrMetricsTest.cpp
Labels: code, ready, sdr

#405 RDSE viewing program
  bindings/py/cpp_src/bindings/encoders/py_RDSE.cpp
  bindings/py/tests/encoders/rdse_test.py
  py/src/nupic/encoders/rdse.py
  src/nupic/encoders/RandomDistributedScalarEncoder.hpp
Labels: documentation, encoder

#404 Move ScalarEncoder viewer
  bindings/py/cpp_src/bindings/encoders/py_ScalarEncoder.cpp
  py/src/nupic/encoders/scalar_encoder.py
  py/src/nupic/examples/rf_view_ScalarEncoder.py
  src/nupic/encoders/ScalarEncoder.hpp
Labels: encoder, low, python

#403 SDR.randomize python bindings, allow instances of Random
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
Labels: Python Binding, ready, sdr

#402 Grid Cell Encoder Documentation
  py/src/nupic/encoders/grid_cell_encoder.py
Labels: documentation, encoder, ready

#390 Cereal for anomaly
  src/examples/hotgym/HelloSPTP.cpp
  src/nupic/algorithms/Anomaly.cpp
  src/nupic/algorithms/Anomaly.hpp
  src/nupic/algorithms/AnomalyLikelihood.cpp
  src/nupic/algorithms/AnomalyLikelihood.hpp
  src/nupic/algorithms/SDRClassifier.cpp
  src/nupic/types/Serializable.hpp
  src/nupic/utils/MovingAverage.hpp
  src/nupic/utils/SlidingWindow.hpp
  src/test/unit/algorithms/AnomalyTest.cpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/engine/CppRegionTest.cpp
  src/test/unit/os/DirectoryTest.cpp
  src/test/unit/regions/SPRegionTest.cpp
  src/test/unit/types/SdrTest.cpp
Labels: serializable

#407 Cereal for TemporalMemory
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/utils/Random.hpp
  src/test/unit/algorithms/ConnectionsTest.cpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/utils/RandomTest.cpp
Labels: serializable

#408 Cereal for SpatialPooler
  src/nupic/algorithms/SpatialPooler.hpp
  src/test/unit/algorithms/SpatialPoolerTest.cpp
Labels: serializable

#359 Connections: Don't apply permanence updates on consequtive cycles.
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/SpatialPooler.hpp
  src/test/unit/algorithms/ConnectionsTest.cpp
Labels: CP, enhancement, ready, research

#418 SpatialPooler - SDR integration: python bindings & unit test
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
  bindings/py/tests/algorithms/spatial_pooler_test.py
  src/nupic/algorithms/SpatialPooler.cpp
Labels: Python Binding, SP, sdr

#419 Cereal for TestNode
  bindings/py/cpp_src/plugin/PyBindRegion.hpp
  bindings/py/cpp_src/plugin/RegisteredRegionImplPy.hpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/engine/Input.cpp
  src/nupic/engine/Input.hpp
  src/nupic/engine/Link.hpp
  src/nupic/engine/Network.hpp
  src/nupic/engine/Output.cpp
  src/nupic/engine/Output.hpp
  src/nupic/engine/Region.cpp
  src/nupic/engine/Region.hpp
  src/nupic/engine/RegionImpl.cpp
  src/nupic/engine/RegionImpl.hpp
  src/nupic/engine/RegionImplFactory.cpp
  src/nupic/engine/RegionImplFactory.hpp
  src/nupic/engine/RegisteredRegionImpl.hpp
  src/nupic/engine/RegisteredRegionImplCpp.hpp
  src/nupic/ntypes/Dimensions.hpp
  src/nupic/regions/SPRegion.hpp
  src/nupic/regions/ScalarSensor.cpp
  src/nupic/regions/ScalarSensor.hpp
  src/nupic/regions/TMRegion.hpp
  src/nupic/regions/TestNode.cpp
  src/nupic/regions/TestNode.hpp
  src/nupic/regions/VectorFileEffector.cpp
  src/nupic/regions/VectorFileEffector.hpp
  src/nupic/regions/VectorFileSensor.cpp
  src/nupic/regions/VectorFileSensor.hpp
  src/nupic/types/Serializable.hpp
  src/test/unit/engine/CppRegionTest.cpp
  src/test/unit/engine/LinkTest.cpp
  src/test/unit/ntypes/DimensionsTest.cpp
Labels: ready, serializable

#401 Classifier Reorganization
  API_CHANGELOG.md
  bindings/py/cpp_src/bindings/algorithms/py_SDRClassifier.cpp
  bindings/py/tests/algorithms/sdr_classifier_test.py
  src/examples/mnist/MNIST_SP.cpp
  src/nupic/algorithms/SDRClassifier.cpp
  src/nupic/algorithms/SDRClassifier.hpp
  src/nupic/types/Serializable.hpp
  src/test/unit/algorithms/SDRClassifierTest.cpp
Labels: API_BREAKING_CHANGE, enhancement, ready

#423 Topology Refactor
  bindings/py/cpp_src/CMakeLists.txt
  bindings/py/cpp_src/bindings/math/math_module.cpp
  bindings/py/cpp_src/bindings/math/py_Topology.cpp
  bindings/py/tests/topology_test.py
  src/nupic/math/Topology.cpp
  src/nupic/math/Topology.hpp
Labels: ready

#424 Connections print diagnostics via operator<<
  src/examples/mnist/MNIST_SP.cpp
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/SpatialPooler.hpp
Labels: enhancement

#397 TM: cellsToColumns
  src/examples/hotgym/HelloSPTP.cpp
  src/examples/hotgym/HelloSPTP.hpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/SpatialPooler.hpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/regions/TMRegion.cpp
  src/nupic/utils/VectorHelpers.hpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/utils/VectorHelpersTest.cpp
Labels: TM, code, enhancement, ready

#431 TemporalMemory python bindings improvements
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
Labels: Python Binding, TM, sdr
