Repository htm-community/htm.core, pull requests merged in 2019-06, with the labels that each got.

#496 Removed file src/nupic/utils/StringUtils.hpp
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/cpp_src/bindings/sdr/py_SDR_Metrics.cpp
  src/CMakeLists.txt
  src/nupic/engine/Network.cpp
  src/nupic/engine/RegionImplFactory.cpp
  src/nupic/os/Path.cpp
  src/nupic/regions/VectorFileSensor.cpp
  src/nupic/utils/StringUtils.cpp
  src/nupic/utils/StringUtils.hpp
Labels: code, low, ready

#480 Hotgym
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  bindings/py/packaging/setup.py
  py/src/nupic/examples/gymdata.csv
  py/src/nupic/examples/hotgym.py
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/SpatialPooler.hpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
Labels: example, python, ready

#493 Spatial Pooler Examples (Python)
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/algorithms/spatial_pooler_test.py
  py/src/nupic/algorithms/__init__.py
  py/src/nupic/examples/sp/README.md
  py/src/nupic/examples/sp/__init__.py
  py/src/nupic/examples/sp/hello_sp.py
  py/src/nupic/examples/sp/sp_tutorial.py
  py/src/nupic/optimization/basic_search.py
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/types/Sdr.cpp
Labels: SP, example, python, ready

#497 Temporal Memory Examples (Python)
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  py/src/nupic/algorithms/__init__.py
  py/src/nupic/examples/tm/README.md
  py/src/nupic/examples/tm/__init__.py
  py/src/nupic/examples/tm/hello_tm.py
  py/src/nupic/examples/tm/tm_high_order.py
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
Labels: TM, example, python, ready

#499 Move Epsilon to nupic/types/Types.hpp, Delete nupic/math/Math.hpp
  src/CMakeLists.txt
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/math/Math.hpp
  src/nupic/types/Types.hpp
  src/test/unit/regions/TMRegionTest.cpp
Labels: code, ready

#500 Remove namespace math, moved contents to namespace nupic.
  bindings/py/cpp_src/bindings/math/py_Topology.cpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/math/Topology.cpp
  src/nupic/math/Topology.hpp
  src/test/unit/math/TopologyTest.cpp
Labels: code, ready

#495 SDR.sparse & coordinate now enforces sorted & no duplicates
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/Metrics_test.py
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/encoders/ScalarEncoder.cpp
  src/nupic/math/Topology.cpp
  src/nupic/types/Sdr.cpp
  src/nupic/types/Sdr.hpp
  src/test/unit/algorithms/SpatialPoolerTest.cpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/encoders/ScalarEncoderTest.cpp
  src/test/unit/types/SdrTest.cpp
Labels: sdr

#503 Folder py/src/nupic/test/ merged into /tests/
  py/src/nupic/test/__init__.py
  py/src/nupic/tests/README.md
Labels: code

#504 Remove Namespaces: algorithms, encoders, util
  bindings/py/cpp_src/bindings/algorithms/py_Connections.cpp
  bindings/py/cpp_src/bindings/algorithms/py_SDRClassifier.cpp
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  bindings/py/cpp_src/bindings/encoders/py_RDSE.cpp
  bindings/py/cpp_src/bindings/encoders/py_ScalarEncoder.cpp
  src/examples/hotgym/HelloSPTP.cpp
  src/examples/mnist/MNIST_SP.cpp
  src/nupic/algorithms/Anomaly.cpp
  src/nupic/algorithms/Anomaly.hpp
  src/nupic/algorithms/AnomalyLikelihood.cpp
  src/nupic/algorithms/AnomalyLikelihood.hpp
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/SDRClassifier.cpp
  src/nupic/algorithms/SDRClassifier.hpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/SpatialPooler.hpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/encoders/BaseEncoder.hpp
  src/nupic/encoders/RandomDistributedScalarEncoder.cpp
  src/nupic/encoders/RandomDistributedScalarEncoder.hpp
  src/nupic/encoders/ScalarEncoder.cpp
  src/nupic/encoders/ScalarEncoder.hpp
  src/nupic/regions/SPRegion.cpp
  src/nupic/regions/SPRegion.hpp
  src/nupic/regions/ScalarSensor.cpp
  src/nupic/regions/ScalarSensor.hpp
  src/nupic/regions/TMRegion.cpp
  src/nupic/regions/TMRegion.hpp
  src/nupic/utils/MovingAverage.cpp
  src/nupic/utils/MovingAverage.hpp
  src/nupic/utils/SlidingWindow.hpp
  src/nupic/utils/VectorHelpers.hpp
  src/test/unit/algorithms/AnomalyLikelihoodTest.cpp
  src/test/unit/algorithms/AnomalyTest.cpp
  src/test/unit/algorithms/ConnectionsPerformanceTest.cpp
  src/test/unit/algorithms/ConnectionsTest.cpp
  src/test/unit/algorithms/SDRClassifierTest.cpp
  src/test/unit/algorithms/SpatialPoolerTest.cpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/encoders/RandomDistributedScalarEncoderTest.cpp
  src/test/unit/encoders/ScalarEncoderTest.cpp
  src/test/unit/regions/TMRegionTest.cpp
  src/test/unit/utils/MovingAverageTest.cpp
  src/test/unit/utils/VectorHelpersTest.cpp
Labels: code

#505 Python Reorganization
  bindings/py/packaging/setup.py
  py/nupic/README.md
  py/nupic/__init__.py
  py/nupic/algorithms/__init__.py
  py/nupic/algorithms/anomaly_likelihood.py
  py/nupic/encoders/__init__.py
  py/nupic/encoders/date.py
  py/nupic/encoders/grid_cell_encoder.py
  py/nupic/encoders/rdse.py
  py/nupic/encoders/scalar_encoder.py
  py/nupic/examples/README.md
  py/nupic/examples/__init__.py
  py/nupic/examples/connections_analysis.py
  py/nupic/examples/gymdata.csv
  py/nupic/examples/hotgym.py
  py/nupic/examples/mnist.py
  py/nupic/examples/sp/README.md
  py/nupic/examples/sp/__init__.py
  py/nupic/examples/sp/hello_sp.py
  py/nupic/examples/sp/sp_tutorial.py
  py/nupic/examples/tm/README.md
  py/nupic/examples/tm/__init__.py
  py/nupic/examples/tm/hello_tm.py
  py/nupic/examples/tm/tm_high_order.py
  py/nupic/external/__init__.py
  py/nupic/optimization/__init__.py
  py/nupic/optimization/ae.py
  py/nupic/optimization/optimizers.py
  py/nupic/optimization/parameter_set.py
  py/nupic/optimization/swarming.py
  py/nupic/utils.py
  py/tests/README.md
  py/tests/algorithms/anomaly_likelihood_jeff_test.py
  py/tests/algorithms/anomaly_likelihood_test.py
  py/tests/encoders/date_test.py
  py/tests/encoders/grid_cell_test.py
  py/tests/utils_test.py
Labels: code, python

#509 Spatial Pooler Python Documentation
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
  bindings/py/cpp_src/bindings/encoders/encoders_module.cpp
Labels: Python Binding, SP, documentation

#508 Fixes for mnist examples.
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  py/nupic/examples/mnist.py
  src/examples/mnist/MNIST_SP.cpp
Labels: bug, example, ready

#523 Dimensions: remove unneeded copy-constructor
  src/htm/engine/Output.hpp
  src/htm/engine/RegionImpl.hpp
  src/htm/ntypes/Dimensions.hpp
Labels: build, ready

#522 fix clang filesystem support in cmake
  CommonCompilerConfig.cmake
Labels: build, fix, ready

#519 Rename TemporalMemory extra to externalPredictiveInputs
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  src/htm/algorithms/TemporalMemory.cpp
  src/htm/algorithms/TemporalMemory.hpp
  src/htm/regions/TMRegion.cpp
  src/htm/regions/TMRegion.hpp
Labels: TM, documentation

#528 Remove directory py/htm/external/
  py/htm/external/__init__.py
Labels: python

#525 Anomaly likelihood - WIP
  py/tests/algorithms/anomaly_likelihood_test.py
Labels: anomaly, tests

#526 Update README & API_CHANGELOGS
  .travis.yml
  API_CHANGELOG.md
  README.md
  RELEASE_V1_GOALS.md
  bindings/py/README.md
  py/API_CHANGELOG.md
  py/htm/__init__.py
  py/htm/algorithms/__init__.py
  py/htm/examples/__init__.py
  py/htm/optimization/__init__.py
  setup.cfg
  src/htm/algorithms/AnomalyLikelihood.hpp
Labels: documentation, ready

#481 Grid Cell Encoder Cleanup
  py/htm/encoders/grid_cell_encoder.py
Labels: encoder, low, python

#531 Rename repo from "nupic.cpp" to "htm.core"
  .gitattributes
  .gitignore
  API_CHANGELOG.md
  CHANGELOG.md
  Dockerfile
  README.md
  bindings/py/packaging/setup.py
  bindings/py/tests/encoders/rdse_test.py
  bindings/py/tests/encoders/scalar_encoder_test.py
  bindings/py/tests/sdr/SDR_test.py
  external/README.md
Labels: community, documentation
