Repository htm-community/htm.core, pull requests merged in 2019-05, with the labels that each got.

#432 Connections pybind & analysis
  bindings/py/cpp_src/CMakeLists.txt
  bindings/py/cpp_src/bindings/algorithms/algorithm_module.cpp
  bindings/py/cpp_src/bindings/algorithms/py_Connections.cpp
  py/src/nupic/examples/connections_analysis.py
  src/examples/mnist/MNIST_SP.cpp
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/SpatialPooler.hpp
Labels: Python Binding, feature, ready

#434 hotgym now runs out-of-box
  README.md
  src/CMakeLists.txt
Labels: build, ready

#430 Enabling ARM64 CI
  .circleci/config.yml
  Dockerfile
  README.md
Labels: enhancement, platform

#435 Category Encoder
  bindings/py/cpp_src/bindings/encoders/encoders_module.cpp
  bindings/py/tests/encoders/scalar_encoder_test.py
  py/src/nupic/encoders/__init__.py
  src/nupic/encoders/ScalarEncoder.cpp
  src/nupic/encoders/ScalarEncoder.hpp
  src/test/unit/encoders/ScalarEncoderTest.cpp
Labels: encoder, ready

#437 Fix TM cells to columns
  API_CHANGELOG.md
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  src/examples/hotgym/HelloSPTP.cpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
Labels: API_BREAKING_CHANGE, TM, bug, code, ready

#443 Groupby cleanup
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/utils/GroupBy.hpp
  src/test/unit/utils/GroupByTest.cpp
Labels: code, low, ready

#444 TM uses SDRs for compute(), activateCells()
  API_CHANGELOG.md
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/utils/GroupBy.hpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/utils/GroupByTest.cpp
Labels: API_BREAKING_CHANGE, TM, code, ready, sdr

#439 Arm64 ci 2
  .circleci/config.yml
  Dockerfile
  bindings/py/packaging/requirements.txt
  src/test/unit/ntypes/BasicTypeTest.cpp
Labels: platform, tooling

#406 TM anomaly
  API_CHANGELOG.md
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
  src/examples/hotgym/HelloSPTP.cpp
  src/examples/hotgym/HelloSPTP.hpp
  src/nupic/algorithms/Anomaly.cpp
  src/nupic/algorithms/Anomaly.hpp
  src/nupic/algorithms/AnomalyLikelihood.hpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/engine/RegionImpl.hpp
  src/nupic/regions/TMRegion.cpp
  src/nupic/regions/TMRegion.hpp
  src/nupic/types/Sdr.cpp
  src/test/CMakeLists.txt
  src/test/unit/algorithms/AnomalyLikelihoodTest.cpp
  src/test/unit/algorithms/AnomalyTest.cpp
  src/test/unit/algorithms/ConnectionsPerformanceTest.cpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
Labels: API_BREAKING_CHANGE, TM, anomaly, code, ready

#449 Py detect Anaconda
  bindings/py/packaging/setup.py
Labels: build, python

#348 SpatialPooler: removed old API compute
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/SpatialPooler.hpp
  src/test/unit/algorithms/SpatialPoolerTest.cpp
Labels: SP, code, ready, sdr

#450 Hotgym: validate that avg anomaly improves
  src/examples/hotgym/HelloSPTP.cpp
  src/nupic/algorithms/Anomaly.cpp
  src/nupic/utils/MovingAverage.cpp
  src/nupic/utils/MovingAverage.hpp
  src/test/unit/algorithms/ConnectionsPerformanceTest.cpp
Labels: anomaly, example, ready, tests

#451 TMRegion new outputs: anomaly & predictiveCells
  src/examples/hotgym/HelloSPTP.cpp
  src/examples/mnist/MNIST_SP.cpp
  src/nupic/algorithms/TemporalMemory.cpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/engine/Input.cpp
  src/nupic/engine/Network.cpp
  src/nupic/engine/Region.cpp
  src/nupic/math/Topology.cpp
  src/nupic/regions/TMRegion.cpp
  src/nupic/regions/TestNode.cpp
  src/nupic/regions/VectorFileSensor.cpp
  src/test/unit/algorithms/AnomalyLikelihoodTest.cpp
  src/test/unit/algorithms/SpatialPoolerTest.cpp
  src/test/unit/algorithms/TemporalMemoryTest.cpp
  src/test/unit/engine/HelloRegionTest.cpp
  src/test/unit/regions/TMRegionTest.cpp
Labels: NetworkAPI, anomaly, ready, serializable

#448 ScalarEncoder & RDSE display scripts allow Categories.
  bindings/py/cpp_src/bindings/encoders/py_RDSE.cpp
  bindings/py/cpp_src/bindings/encoders/py_ScalarEncoder.cpp
  py/src/nupic/encoders/rdse.py
  py/src/nupic/encoders/scalar_encoder.py
  src/nupic/encoders/RandomDistributedScalarEncoder.cpp
  src/nupic/encoders/RandomDistributedScalarEncoder.hpp
  src/nupic/encoders/ScalarEncoder.cpp
  src/nupic/encoders/ScalarEncoder.hpp
Labels: encoder, ready

#454 Temporal Memory python bindings: new overload for compute.
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
Labels: Python Binding, TM, ready

#456 Encoder viewing programs minor fix
  py/src/nupic/encoders/rdse.py
  py/src/nupic/encoders/scalar_encoder.py
Labels: encoder, fix, low

#464 Python SDR.flatten() & return SDRs
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
Labels: Python Binding, ready, sdr

#457 Anomaly likelihood py
  bindings/py/packaging/requirements.txt
  py/API_CHANGELOG.md
  py/src/nupic/algorithms/__init__.py
  py/src/nupic/algorithms/anomaly_likelihood.py
  py/src/nupic/tests/algorithms/anomaly_likelihood_jeff_test.py
  py/src/nupic/tests/algorithms/anomaly_likelihood_test.py
  py/src/nupic/tests/utils_test.py
  py/src/nupic/utils.py
  src/nupic/algorithms/AnomalyLikelihood.hpp
Labels: anomaly, enhancement, python, ready

#465 Deterministic Algorithms
  bindings/py/cpp_src/CMakeLists.txt
  src/examples/hotgym/HelloSPTP.cpp
  src/nupic/algorithms/SpatialPooler.cpp
  src/nupic/algorithms/TemporalMemory.cpp
Labels: ready

#446 New method Connections::destroyMinPermanenceSynapses
  bindings/py/cpp_src/bindings/algorithms/py_Connections.cpp
  src/nupic/algorithms/Connections.cpp
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/TemporalMemory.cpp
Labels: TM, code, ready

#467 Connections::operator<< print segments per cell.
  src/nupic/algorithms/Connections.cpp
Labels: enhancement, ready

#462 Date Time Encoder
  py/src/nupic/encoders/date.py
  py/src/nupic/tests/encoders/date_test.py
Labels: encoder, python, ready

#422 Cereal for SPRegion
  API_CHANGELOG.md
  bindings/py/cpp_src/bindings/engine/py_Engine.cpp
  bindings/py/tests/network_test.py
  bindings/py/tests/sparse_link_test.py
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/SpatialPooler.hpp
  src/nupic/engine/Link.cpp
  src/nupic/engine/Link.hpp
  src/nupic/engine/Network.cpp
  src/nupic/engine/Network.hpp
  src/nupic/engine/Region.cpp
  src/nupic/engine/Region.hpp
  src/nupic/engine/RegionImpl.hpp
  src/nupic/ntypes/Collection.hpp
  src/nupic/regions/SPRegion.cpp
  src/nupic/regions/SPRegion.hpp
  src/nupic/regions/ScalarSensor.cpp
  src/nupic/regions/ScalarSensor.hpp
  src/nupic/regions/TestNode.hpp
  src/nupic/types/Serializable.hpp
  src/test/unit/engine/CppRegionTest.cpp
  src/test/unit/engine/LinkTest.cpp
  src/test/unit/engine/NetworkTest.cpp
  src/test/unit/engine/WatcherTest.cpp
  src/test/unit/ntypes/DimensionsTest.cpp
  src/test/unit/regions/SPRegionTest.cpp
  src/test/unit/regions/TMRegionTest.cpp
Labels: NetworkAPI, SP, ready, serializable

#473 Random seed comments
  src/nupic/utils/Random.cpp
Labels: low, ready

#474 Python SpatialPooler Bindings fix for numActiveColumnsPerInhArea
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
Labels: Python Binding, SP, fix

#475 Python TemporalMemory.getActiveCells() returns SDR
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
Labels: Python Binding, TM

#476 Python SDR.flatten() fix
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
Labels: Python Binding, fix, sdr

#478 Pybind11 SpatialPooler fix for printing durring constructor.
  bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp
Labels: Python Binding, fix, ready

#479 Python SDR.zero() returns the sdr.
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
Labels: Python Binding, low, sdr

#472 Cereal for TMRegion
  src/nupic/algorithms/Connections.hpp
  src/nupic/algorithms/TemporalMemory.hpp
  src/nupic/engine/Link.hpp
  src/nupic/engine/Network.cpp
  src/nupic/engine/Network.hpp
  src/nupic/ntypes/Dimensions.hpp
  src/nupic/regions/TMRegion.cpp
  src/nupic/regions/TMRegion.hpp
  src/test/unit/engine/NetworkTest.cpp
  src/test/unit/regions/TMRegionTest.cpp
Labels: ready, serializable

#433 Parameter Optimization
  py/src/nupic/examples/mnist.py
  py/src/nupic/optimization/__init__.py
  py/src/nupic/optimization/ae.py
  py/src/nupic/optimization/basic_search.py
  py/src/nupic/optimization/optimizers.py
  py/src/nupic/optimization/parameter_set.py
  py/src/nupic/optimization/swarming.py
Labels: feature, optimization, ready, tooling

#483 Swarming Fixes
  py/src/nupic/optimization/ae.py
  py/src/nupic/optimization/optimizers.py
  py/src/nupic/optimization/swarming.py
Labels: bug, fix

#420 Cereal for VectorFile
  bindings/py/cpp_src/plugin/PyBindRegion.hpp
  src/nupic/engine/Region.cpp
  src/nupic/engine/Region.hpp
  src/nupic/engine/RegionImpl.hpp
  src/nupic/regions/SPRegion.cpp
  src/nupic/regions/SPRegion.hpp
  src/nupic/regions/ScalarSensor.cpp
  src/nupic/regions/ScalarSensor.hpp
  src/nupic/regions/TMRegion.cpp
  src/nupic/regions/TMRegion.hpp
  src/nupic/regions/TestNode.cpp
  src/nupic/regions/TestNode.hpp
  src/nupic/regions/VectorFile.cpp
  src/nupic/regions/VectorFile.hpp
  src/nupic/regions/VectorFileEffector.cpp
  src/nupic/regions/VectorFileEffector.hpp
  src/nupic/regions/VectorFileSensor.cpp
  src/nupic/regions/VectorFileSensor.hpp
  src/test/CMakeLists.txt
  src/test/unit/engine/HelloRegionTest.cpp
  src/test/unit/engine/LinkTest.cpp
  src/test/unit/engine/NetworkTest.cpp
  src/test/unit/regions/RegionTestUtilities.cpp
  src/test/unit/regions/VectorFileTest.cpp
Labels: in_progress, serializable

#485 SDR replace Reshape class with method.
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
  src/nupic/types/Sdr.cpp
  src/nupic/types/Sdr.hpp
  src/test/unit/types/SdrTest.cpp
  src/test/unit/utils/SdrMetricsTest.cpp
Labels: code, ready, sdr

#486 New methods SDR.union & SDR.killCells
  bindings/py/cpp_src/bindings/sdr/py_SDR.cpp
  bindings/py/tests/sdr/SDR_test.py
  src/nupic/types/Sdr.cpp
  src/nupic/types/Sdr.hpp
  src/test/unit/types/SdrTest.cpp
Labels: feature, sdr

#491 Python Temporal Memory Documentation.
  bindings/py/cpp_src/bindings/algorithms/py_TemporalMemory.cpp
Labels: Python Binding, TM, documentation, ready
